.project-list{
    padding: 0;
}

.project-list-item{
    margin-bottom: 50px;
    list-style-type: none;
    clear: both;
}

.project-owner-avatar{
    width: 50px;
    float: left;
    margin-right: 10px;
}